*{
    margin: 0;
    padding: 0;
}

body{
    background: url("bg-large.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100vw;
}

.main-container{
    color: white;
    height: 90%;
    width: 45em;
    background: url("tile-bg.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 22px;
    box-shadow: rgba(42, 42, 42, 0.65) 0px 5px 40px;
    display: flex;
    border: 2px solid rgb(218, 218, 218);
}

.label-object{
    height: 75px;
    width: 200px;
    border-radius: 18px;

    background: hsla(217, 64%, 49%, 1);

    background: linear-gradient(60deg, hsla(217, 64%, 49%, 1) 0%, hsla(216, 63%, 51%, 1) 37%, rgb(118, 181, 220) 100%);
    background: -moz-linear-gradient(60deg, hsla(217, 64%, 49%, 1) 0%, hsla(216, 63%, 51%, 1) 37%, rgb(118, 181, 220) 100%);
    background: -webkit-linear-gradient(60deg, hsla(217, 64%, 49%, 1) 0%, hsla(216, 63%, 51%, 1) 37%, hslargb(118, 181, 220) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2D6BCE", endColorstr="#3371D0", GradientType=1 );

    box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 2.6px;

    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-top: 25px;
    border: 2px solid white;
}
.label-object-child{
    margin: 7px;
}

.label-object .trash-icon{
    height: 30px;
    width: 30px;
}

.trash-button:hover{
    animation: shake 0.35s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -1px) rotate(-7deg); }
    20% { transform: translate(-1px, 0px) rotate(3deg); }
    30% { transform: translate(1px, 1px) rotate(7deg); }
    40% { transform: translate(1px, -1px) rotate(2deg); }
    50% { transform: translate(-1px, 1px) rotate(-7deg); }
    60% { transform: translate(-1px, 1px) rotate(0deg); }
    70% { transform: translate(1px, 1px) rotate(-7deg); }
    80% { transform: translate(-1px, -1px) rotate(2deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(-7deg); }
  }

.label-object .sticker{
    height: 55px;
    width: 55px;
}

.label-object button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.label-object button:hover {
    cursor: pointer;
    filter: invert(50%)
}

.sidebar{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 30%;
    background: hsla(206, 100%, 30%, 1);

background: linear-gradient(45deg, hsla(206, 100%, 30%, 1) 0%, hsla(206, 98%, 48%, 1) 100%);
background: -moz-linear-gradient(45deg, hsla(206, 100%, 30%, 1) 0%, hsla(206, 98%, 48%, 1) 100%);
background: -webkit-linear-gradient(45deg, hsla(206, 100%, 30%, 1) 0%, hsla(206, 98%, 48%, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00579A", endColorstr="#028CF3", GradientType=1 );
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border-right: solid white 2px;
}
.sidebar-content{
    padding-top: 15px;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar-content *{
    margin-bottom: 6px;
    margin-top: 6px;
}

.label-container{
    display: flex;
    height: 100%;
    width:70%;
    flex-direction: column;
    flex-wrap: wrap;
}

hr{
    height: 2px;
    background-color: white;
    width: 80%;
    margin-left: 10%;
}

#print-button{
    height: 55px;
    width: 55px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 100px;
}

.img-no-select{
    height: 35px;
    width: 35px;
    user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#print-button:hover{
    cursor: pointer;
    background-color: rgb(192, 227, 227);
    animation: printer-shake 0.35s;
    animation-iteration-count: 1;
}

@keyframes printer-shake {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(-10deg); }
    66% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
  }

.date{
    color: black;
    position: absolute;
    margin-top: 38px;
}

.sticker{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

input[type="checkbox"] { /* change "blue" browser chrome to yellow */
    filter: invert(100%) hue-rotate(18deg) brightness(1.7);
  }

@media print {
    .sidebar {
        display: none;
    }
    .trash-icon {
        display: none;
    }
    .label-object{
        box-shadow: rgba(0, 0, 0, 0.0) 4px 4px 2.6px;
    }
    .main-container{
        box-shadow: rgba(0, 0, 0, 0.0) 4px 4px 2.6px;
        border: none;
    }
}